# Flatten an array

In [3]:
import numpy as np

In [14]:
def flatten_array(array):
    shape = np.shape(array)
    size = shape[0] * shape[1]
    newarray = np.reshape(array , size)
    return newarray

In [15]:
array = np.array([[1,2,3] , [1,2,3]])
flatten_array(array)

array([1, 2, 3, 1, 2, 3])

# residual sum of squares(loss function)

In [29]:
def residual_sum(array1 , array2):
    res = (array1-array2)**2
    return np.sum(res)

In [31]:
array1 = np.array([[11,12,23] , [110,101,102]])
array2 = np.array([[7,8,9] , [22,13,15]])
residual_sum(array1,array2)

23285

# DataBase select query

In [1]:
import sqlite3
db = sqlite3.connect('dataset.sqlite')
db.commit()

In [2]:
cursor = db.cursor()

In [8]:
avg = cursor.execute('''SELECT AVG(price) FROM houses where bedrooms = 3 ''')
print(avg.fetchone())

(466232.07848127035,)